<div class="booking-bar-container">
   <div id="price-input">
    <span>Total: £</span>
    <div id="price-html">
  
      <%= @event.price %>
    </div>
  </div>
  <div id="multiplier">
    <div id="minus" class="counter-btn">
      <span class="fas fa-minus"></span>
    </div>  
<!--       <span class="far fa-user"></span>   --> 
    <div id="counter-Html">
      1
    </div>   
    <div id="plus" class="counter-btn">
      <span class="fas fa-plus"></span>
    </div>
  </div>
  <div>
    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'event_id', @event.id %>
      <%= hidden_field_tag 'order_amount', @event.price %>
      <%= submit_tag 'Book Now', class: 'btn' %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'counter' %>

<%# <%=f.text_field :email ,:id=>"email_field" %>

<%# <script type="text/javascript">
   var total= document.getElementById("price-html").innerText
   console.log(total)
   $(document).ready(function(){
        $("#total").val(total);
   });
</script> %>
