<div id="page-container-favourites">
  <div class="favourites-card-container">
    <div class="order-header">
      <div class="order-back">      
        <%= link_to 'back', onclick: 'window.history.back();' do  %>
          <i class="fas fa-chevron-left back-btn"></i>
        <% end %>
      </div>
      <h2>Saved</h2>
    </div>

    <hr class ="title-card-break">

    <% @favourites.each do |favourite| %>
      <% if favourite.event.start_time > Time.now %>
        <div class="favourite-card">
          <!-- event card image -->
          <div>
            <span>
              <% if favourite.event.current_price == favourite.event.starting_price %>  
                <p>£<%= favourite.event.current_price.round(2) %></p>
              <% else %>
                <p>Reduced to £<%= favourite.event.current_price.round(2) %></p>
              <% end %>
            </span>
            <%= link_to event_path(favourite.event) do %>
              <%= image_tag(favourite.event.photos.first) %>
            <% end %>
          </div>
          <div class="event-information">
            <div>
              <div class="card-top-row">
                <div id="heart">
                  <%= link_to favourite_path(favourite), method: :delete, remote: true do %>
                    <i id="icon-heart" class="fas fa-heart"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="favourite-details">
                   <h2><%= link_to favourite.event.name, event_path(favourite.event) %></h2>
                <div id="venue">
                  <p>@ <%= favourite.event.venue.name %></p>
                </div>
                <div id="venue-details">
                <span><%= "#{favourite.event.reviews.average(:venue_rating)}" %></span>  
                <% if favourite.event.reviews.count > 0 %>
                  <% favourite.event.reviews.average(:venue_rating).round.times %>  
                  <i class="fas fa-star star"></i>
                <% end %>
                <span><%= "| #{favourite.event.category}" %></span>
              </div>
              </div>
              <div class="event-timer">
                 <p>Starts at <% t = favourite.event.start_time %><%= t.strftime("%l:%M %P") %>!</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>
