<div id="saved-container" class="flex-col">
  <div id="saved-header" class="flex-center">
    <%= link_to 'back', onclick: 'window.history.back();' do  %>
      <i id="arrow" class="fas fa-chevron-left"></i>
    <% end %>
    <h2>Saved</h2>
  </div>

  <hr class="title-card-break">
  <div class="flex-col-center">
  <% @favourites.each do |favourite| %>
    <% if favourite.event.start_time > Time.now %>
      <div class="favourite-card">
        <% if favourite.event.current_price == favourite.event.starting_price %>  
          <p class="event-price">£<%= favourite.event.price %></p>
        <% else %>
          <p class="event-price">Reduced to £<%= favourite.event.price %></p>
        <% end %>
        <%= link_to event_path(favourite.event) do %>
          <%= image_tag(favourite.event.photos.first) %>
        <% end %>
        <div class="flex">
          <div class="event-info flex-col">
            <div class="favourite-card-header">
              <h2><%= link_to favourite.event.name, event_path(favourite.event) %></h2>
              <p>@ <%= favourite.event.venue.name %></p>
              <div id="position">
              <span><%= "#{favourite.event.reviews.average(:venue_rating)}" %></span>
              <% if favourite.event.reviews.count > 0 %>
                <% favourite.event.reviews.average(:venue_rating).round.times %>  
                <i class="fas fa-star star"></i>
              <% end %>
              <span><%= " | #{favourite.event.category}" %></span>
            </div>
            </div>
            <div>
               <p>Starts at <% t = favourite.event.start_time %><%= t.strftime("%l:%M %P") %></p>
            </div>
          </div>
            <div id="favourite-heart">
              <%= link_to favourite_path(favourite), method: :delete, remote: true do %>
                <i id="favourite-heart" class="fas fa-heart"></i>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>