<div id="saved-container" class="flex-col">
  <div id="saved-header" class="flex-center">
    <div class="order-back">      
      <%= link_to 'back', onclick: 'window.history.back();' do  %>
        <i class="fas fa-chevron-left back-btn"></i>
      <% end %>
    </div>
    <h2>Saved</h2>
  </div>

  <hr class ="title-card-break">

  <% @favourites.each do |favourite| %>
    <% if favourite.event.start_time > Time.now %>
      <div class="favourite-card flex">
        <!-- event card image -->
        <div>
          <div>
            <% if favourite.event.current_price == favourite.event.starting_price %>  
              <p class="event-price">£<%= favourite.event.price %></p>
            <% else %>
              <p class="event-price">Reduced to £<%= favourite.event.price %></p>
            <% end %>
          </div>
          <%= link_to event_path(favourite.event) do %>
            <%= image_tag(favourite.event.photos.first) %>
          <% end %>
        </div>
        <div class="event-information">
          <div>
            <div class="card-top-row">
              <div id="heart" class="flex-reverse">
                <%= link_to favourite_path(favourite), method: :delete, remote: true do %>
                  <i id="icon-heart" class="fas fa-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
          <div>
            <h2><%= link_to favourite.event.name, event_path(favourite.event) %></h2>
            <div id="venue">
              <p>@ <%= favourite.event.venue.name %></p>
            </div>
            <div class="venue-details">
              <span><%= "#{favourite.event.reviews.average(:venue_rating)}" %></span>
              <% if favourite.event.reviews.count > 0 %>
                <% favourite.event.reviews.average(:venue_rating).round.times %>  
                <i class="fas fa-star star"></i>
              <% end %>
              <span><%= " | #{favourite.event.category}" %></span>
            </div>
            <div class="event-time">
               <p>Starts at <% t = favourite.event.start_time %><%= t.strftime("%l:%M %P") %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="checkout-footer">
  <%= render "components/footer" %>
</div>
