<div id="page-container-index">
  <!-- map viewport -->  
  <!-- map dimensions -->
  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= @center.to_json %>"> 
    <div id="filter-buttons" class="flex-reverse">
      <%= render "components/filter" %>
    </div>
    <!-- event cards -->
    <div class="card-container" id="scrolling-container">
      <% @events.each do |event| %>
        <% if event.start_time.hour > Time.now.hour %>
          <div class="event-card" id="id-<%=event.id%>">
            <!-- event card image and price -->
            <div class="flex-start">
              <% if event.current_price == event.starting_price %>  
                <p class="event-price flex-col">£<%= event.price %></p>
              <% else %>
                <p class="event-price flex-col">Reduced to £<%= event.price%></p>
              <% end %>

              <%= link_to event_path(event) do %>
                <%= image_tag(event.photos.first) %>
              <% end %>
            </div>
            <!-- event information and heart -->
            <div class="flex">
              <div class="event-info flex-col">
                <div id="event-card-details">
                  <h2><%= link_to event.name, event_path(event) %></h2>
                  <p>@ <%= event.venue.name %></p>
                  <span><%= "#{event.reviews.average(:venue_rating)}" %></span>  
                  <% if event.reviews.count > 0 %>
                    <% event.reviews.average(:venue_rating).round.times %>  
                    <i class="fas fa-star star"></i>
                  <% end %>
                  <span><%= "| #{event.category}" %></span>
                </div>
                <div>
                  <p>Starts at <% t = event.start_time %><%= t.strftime("%l:%M %P") %></p>
                </div>
              </div>
              <div>
                <% if user_signed_in? %>
                  <% if current_user.is_favourite_event?(event.id) %>
                    <%= link_to favourite_path(event.favourites.find_by(user_id: current_user.id)), :method => :delete do %>
                      <i class="fas fa-heart" id="index-heart"></i>
                    <% end %>
                  <% else %>
                    <%= simple_form_for([ event, Favourite.new ]) do |f|  %>
                      <%= button_tag type: 'submit' do %>
                        <i class="far fa-heart" id="index-heart"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <i class="far fa-heart" id="index-heart"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>
