<%# <div class="map-placeholder">
    <img src="https://res.cloudinary.com/markcarson121/image/upload/v1622145309/map-example_eysme7.png">
</div> %>
<div class="min-height main-container">
    <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        data-center="<%= @center.to_json %>">
    </div>
    <!--card carousel-->
        <div class="scroller">
            <% @events.each do |event| %>
                <% if event.start_time > Time.now %>
                <!--card images-->
                    <div class="card-product">
                        <span class="badge">£<%= event.price_cents %></span>
                        <%= link_to event_path(event) do %>
                            <%= image_tag(event.photos.first) %>
                        <% end %>
                <!--card ratings-->
                        <div class="card-product-infos">
                            <div class="infos-top">
                                <div class="card-top-row">
                                    <div class="card-top-left rating">  
                                        <% if event.reviews.count > 0 %>
                                            <p class=""> <%= "#{event.reviews.average(:venue_rating)}" %> </p>
                                            <% event.reviews.average(:venue_rating).round.times do  %>  
                                                <i class="far fa-heart star"></i>
                                            <% end %>  

                                            <p><%= "(#{event.reviews.count})"%></p>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                <!--card information-->
                            <div class="infos-middle">
                                <h2><%= link_to event.name, event_path(event) %></h2>
                                <p><% d = event.description %>
                                    <% description = d.split[0...15].join(' ') %>
                                    <%= description %>...
                                </p>
                            </div>
                <!--card start time-->
                            <div class="infos-bottom">
                                <p>Starts at <% t = event.start_time %>
                                            <%= t.strftime("%l:%M %P") %>
                                                !</p>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
</div>
