<div id="index-container">
  <!-- map viewport -->  
  <div id="map" style="min-width: 320px; min-height: 68vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= @center.to_json %>">
    <!-- filter buttons -->
    <div class="toggle-container">
      <div>
        <div class="filter-button">
          <button type="button" data-toggle="button">
            <img src="assets/white_hot">
          </button>
        </div>
      </div>
      <div>
        <div class="filter-button">
          <button type="button" data-toggle="button">
            <img src="assets/white_food">
          </button>
        </div>
      </div>
      <div>
        <div class="filter-button">
          <button type="button" data-toggle="button">
            <img src="assets/white_drink">
          </button>
        </div>
      </div>
      <div>
        <div class="filter-button">
          <button type="button" data-toggle="button">
            <img src="assets/white_show">
          </button>
        </div>
      </div>
      <div>
        <div class="filter-button">
          <button type="button" data-toggle="button">
            <img src="assets/white_music">
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- event cards -->
  <div class="event-card-container">
    <% @events.each do |event| %>
      <div class="event-card">
        <!-- event card image -->
        <div>
          <span class="event-price">£<%= event.price_cents %></span>
          <%= link_to event_path(event) do %>
            <% event.photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key if index == 0%> 
            <% end %>
          <% end %>
        </div>
        <div class="event-information">
          <div>
            <div class="card-top-row">
              <div class="event-review">
                <span class="far fa-star"></span> 
                <span> 4.2 (23)</span>
              </div>
              <div id="heart">
                <span class="far fa-heart"></span>
              </div>
            </div>
          </div>
          <div class="event-details">
            <h2><%= link_to event.name, event_path(event) %></h2>
            <p><% d = event.description %><% description = d.split[0...15].join(' ') %><%= description %>...</p>
          </div>
          <div class="event-timer">
            <p>Starts at <% t = event.start_time %><%= t.strftime("%l:%M %P") %>!</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= javascript_pack_tag 'toggle' %>
