<%# <div class="map-placeholder">
    <img src="https://res.cloudinary.com/markcarson121/image/upload/v1622145309/map-example_eysme7.png">
</div> %>
<div class="min-height main-container">
    <!--card carousel-->
        <div class="scroller">
            <% @events.each do |event| %>
                <div class="card-product">
                    <span class="badge">£<%= event.price_cents %></span>
                    <%= link_to event_path(event) do %>
                        <% event.photos.each do |photo| %>
                            <%= cl_image_tag photo.key %> 
                        <% end %>
                    <% end %>
                    <div class="card-product-infos">
                        <div class="infos-top">
                            <div class="card-top-row">
                                <div class="card-top-left"><a href=# class="far fa-star"></a> <p> 4.2 (23)</p></div>
                                <div><a href="#" class="far fa-heart"></a></div>
                            </div>
                        </div>
                        <div class="infos-middle">
                            <h2><%= link_to event.name, event_path(event) %></h2>
                            <p><% d = event.description %>
                                <% description = d.split[0...15].join(' ') %>
                                <%= description %>...
                            </p>
                        </div>
                        <div class="infos-bottom">
                            <p>Starts at <% t = event.start_time %>
                                         <%= t.strftime("%l:%M %P") %>
                                            !</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
</div>
