<div id="page-container-index">
  <div id="index-container">
    <!-- map viewport -->  
    <!-- map dimensions -->
    <div id="map" style="min-width: 320px; min-height: 68vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-center="<%= @center.to_json %>">
      <!-- filter buttons -->
    
      <div id="filter-flex">  
        <%= render "components/filter" %>
      </div>
      <div class="price-button-container">
        <div>
          <p>Click for discount</p>        
        </div>
        <div>
          <%= link_to price_update_path(events: @events), method: :get  do %>
            <button class="price-button" type="button">
            <img src="https://res.cloudinary.com/markcarson121/image/upload/v1623348000/white_hot_i3opcg.png">
          </button>
          <% end %> 
        </div>
        <div class="price-counter">
          <% if session[:counter].positive? %>
            <p> <%="Only #{session[:counter]} tries left" %> </p>
            <h1> <%= @number %> </h1>
          <% else %>
            <p>No more discounts for you</p>
          <% end %>
        </div>
      </div>   
    </div>
    
    <!-- event cards -->
    
    <div  class="event-card-container">
      <% @events.each do |event| %>
        <% if event.start_time > Time.now %>
          <div class="event-card">
            <!-- event card image -->
            <div>
              <!-- event price -->
              <span data-price-target="drop" class="event-price">£<%= event.starting_price.round(2) %></span>
              <%= link_to event_path(event) do %>
                <%= image_tag(event.photos.first) %>
              <% end %>
            </div>
            <div class="event-information">
              <div>
                <div class="card-top-row">
                  <div class="event-review">
                    <% if event.reviews.count > 0 %>
                      <p><%= "#{event.reviews.average(:venue_rating)}" %></p>
                      <% event.reviews.average(:venue_rating).round.times do  %>  
                        <i class="far fa-star"></i>
                      <% end %>  
                      <p><%= "(#{event.reviews.count})"%></p>
                    <% end %>
                  </div>
                  <div id="heart">
                    <% if user_signed_in? %>
                      <% if current_user.is_favourite_event?(event.id) %>
                        <%= link_to favourite_path(event.favourites.find_by(user_id: current_user.id)), :method => :delete do %>
                          <span class="fas fa-heart" id="index-heart"></span>
                        <% end %>
                      <% else %>
                        <%= simple_form_for([ event, Favourite.new ]) do |f|  %>
                          <%= button_tag type: 'submit' do %>
                            <span class="far fa-heart" id="index-heart"></span>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <span class="far fa-heart" id="index-heart"></span>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="event-details">
                <h2><%= link_to event.name, event_path(event) %></h2>
                <p><%= event.venue.name %></p>
                <p><%= event.category %></p>
              </div>

              <div id="heart">
              </div>
              <div class="event-timer">
                <p>Starts at <% t = event.start_time %><%= t.strftime("%l:%M %P") %>!</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>

<%= javascript_pack_tag 'toggle' %>
<%= javascript_pack_tag 'map' %>
