<%= render "components/carousel", locals: { event: @event } %>

<div class="show-time-badge">
  <div id= "clockdiv">
    <% if @event.start_time > Time.now %>
      <h2> Starting in: </h2>
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
        </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    <% else %>
      <p class = "past-event"> Past event </p>  
    <% end %>
  </div>
</div>

<div class="show-container">
  <div class="show-top">
    <div class="show-title">
      <h2><%= @event.name %></h2>
      <p><%= @event.venue.name %></p>
    </div>
  <a href="/events"><i class="fas fa-map-marked-alt"></i></a>
  </div>

    <div class="show-stars">
      <p class="rating"> <%= "#{@event.reviews.average(:venue_rating)}" %> </p>  
      <% if @event.reviews.count > 0 %>
        <% @event.reviews.average(:venue_rating).round.times do  %>  
          <i class="fas fa-star star"></i>
        <% end %>
        <p><%= "  | #{@event.category}" %></p>
      <% else %>
        <p><%="No reviews | #{@event.category}" %></p>
      <% end %>
    </div>
    <p><%= @event.description %></p>
    <hr class="event-divider">

  <div class="review-container">
    <h2><%= "Reviews (#{@event.reviews.count})"%></h2>
    <% @event.reviews.each do |review| %>
      <div class="reviews">
        <div class="ratings">
          <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            <% review.venue_rating.times do  %>
              <i class="fas fa-star star"></i>
            <% end %>
        </div>  

        <div class="review-content">
          <p><%=review.event_review %> </p>
      
        </div>
      </div>
      <% end %>
  </div>  
</div>

<%= render "components/booking-bar" %>
<%= render "components/footer" %>

<%= javascript_tag "var obj = #{@event.to_json}" %>

<%= javascript_pack_tag 'countdown' %>






