<%= render "components/carousel", locals: { event: @event } %> 


<div class="show-time-badge">
  <p>Starts in 45 mins</p>
</div>

<div class="show-container">
  <h2><%= @event.name %></h2>
  <p><%= @event.venue.name %></p>
  <div class="show-stars">
    <a href=# class="far fa-star"></a> <p> 4.2 (23)</p>
  </div>
  <p><%= @event.description %></p>
  <h2><%= "Reviews (#{@event.reviews.count})"%></h2>
  <div class="review-container">
    <% @event.reviews.each do |review| %>
      <div class="reviews">
        <div class="ratings">
        <img class="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
          <% review.venue_rating.times do  %>
            <i class="fas fa-star star"></i>
          <% end %>
        </div>  
        <div class="review-content">
          <p><%=review.event_review %> </p>         
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "components/booking-bar" %>




