<div id="page-container-show">
  <!-- image carousel -->
  <div id="carousel-container">
    <%= render "components/carousel", locals: { event: @event } %>
  </div>

  <!-- event countdown -->
  <div id="event-countdown">
    <div id="clockdiv">
      <% if @event.start_time > Time.now %>
        <div class="flex">
          <p>Starting in&nbsp;</p>
          <p class="hours"></p>
          <div class="smalltext">&nbsp;hours&nbsp;</div>
          <p class="minutes"></p>
          <div class="smalltext">&nbsp;mins&nbsp;</div>
          <p class="seconds"></p>
          <div class="smalltext">&nbsp;secs</div>
        </div>
      <% else %>
        <span class="past-event">Past event</span>  
      <% end %>
    </div> 
  </div>  
 
  <!-- event content -->
  <div class="content">
    <div class="show-favorites">
      <%= simple_form_for([ @event, Favourite.new ]) do |f|  %>
          <%= button_tag type: 'submit' do %>
            <i id="heart-js" class="fas fa-heart"></i>
          <% end %>
      <% end %>
    </div>

    <div class="show-details">
      <%= link_to events_path do %>
      <div id="colour">
          <p>Back to events</p>
      </div>
      <% end %>
      <div id="push">
      <h1><%= @event.name %></h1>
      <h2>@ <%= @event.venue.name %></h2>

      <!-- event rating -->
      <div class="rating-container">
        <span><%= "#{@event.reviews.average(:venue_rating)}" %></span>  
        <% if @event.reviews.count > 0 %>
          <% @event.reviews.average(:venue_rating).round.times %>  
            <i class="fas fa-star star"></i>
        
          <span><%= "| #{@event.category}" %></span>
        <% else %>
          <span><%="No reviews| #{@event.category}" %></span>
        <% end %>
      </div>

      <!-- full event description -->
      <h3>Full Description</h3>
      <p id="expand" class="line-clamp"><%= @event.description %></p>
      <button id="see-more">See More</button>
    
      <h3><%= "Reviews (#{@event.reviews.count})"%></h3>
      <div class="review-container">
        <!-- user reviews -->
        <% @event.reviews.each do |review| %>
          <div class="review-card">
            <button class="review-click">
              <%= image_tag(review.order.user.avatar, class: "avatar-bordered") if review.order.user.avatar.attached? %>
              <p><%= review.order.user.first_name %></p>
              <% review.venue_rating.times do  %>
                <i class="fas fa-star star"></i>
              <% end %>
              <div id="reveal-info">
                <p>Show Review</p>
              </div>
            </button>
            <div class="hide">
              <p><%=review.event_review %></p>
            </div>
          </div>
        <% end %>
    </div> 
    </div>
  </div>
  </div>
</div>

<!-- booking bar -->
<div id="booking-container">
  <%= render "components/booking-bar" %>
</div>

<!-- footer -->
<div id="checkout-footer">
  <%= render "components/footer" %>
</div>

<!-- javascript -->
<%= javascript_tag "var obj = #{@event.to_json}" %>
<%= javascript_pack_tag "countdown" %>
<%= javascript_pack_tag "description-reveal" %>
<%= javascript_pack_tag "switch" %>
<%= javascript_pack_tag "review-toggle" %>

