<div id="page-container-confirmation">
  <div class="orders-show-container">
    <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
    <h1>CONGRATS.</h1>
    <h2>You are going to</h2> 
    <h2><%= @order.event.name %>!</h2>
    <ul class="list-unstyled">
      <li><strong>START TIME</strong> <%= @order.event.start_time.strftime("%H:%M") %></li>
      <li><strong>EVENT</strong> <%= @order.event.name %></li>
      <li><strong>NO. TICKETS</strong> <%= (@order.amount / @order.event.price).to_i  %></li>
      <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
    </ul>
    <%= image_tag(@order.event.photos.first) %>
  </div>

  <div class="directions-btn " id="show-directions">
    <p>Show Directions</p>
  </div>
  <div class="hide" id="directions-container">
    <div id="map" style="min-width: 320px; min-height: 40vh;" data-destination="<%= @destination.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div id="instructions"></div>
  </div>
  

  <div class="directions-btn">
    <a href="/events">See More Events</a>
  </div>

  <div id="checkout-footer">
    <%= render "components/footer" %>
  </div>
</div>

<%= javascript_pack_tag 'directions' %>
<script type="text/javascript">
  document.getElementById("show-directions").addEventListener("click", () => {
    const toggle = document.getElementById("directions-container");
    if (toggle.style.display === "none") {
      toggle.style.display = "block";
    } else {
      toggle.style.display = "none";
    }
  })
</script>
