<div class="orders-show-container">
    <%= <small><span class="badge badge-primary"><%= @order.state %>
      <h1>CONGRATS.</h1>
      <h2>You are going to</h2> 
      <h2><%= @order.event.name %>!</h2>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>EVENT</strong> <%= @order.event.name %> [<%= @order.event_sku %>]</li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
      </ul>
      <%= image_tag(@order.event.photos.first) %>
</div>
      <div class="directions-btn"><a href="#">Get Directions</a></div>
      <div class="directions-btn"><a href="/events">See More Events</a></div>
