<div class="orders-show-container">
    <%# <%= <small><span class="badge badge-primary"> @order.state %>
      <h1>CONGRATS.</h1>
      <h2>You are going to</h2> 
      <h2><%= @order.event.name %>!</h2>
      <ul class="list-unstyled">
        <li><strong>START TIME</strong> <%= @order.event.start_time.strftime("%H:%M") %></li>
        <li><strong>EVENT</strong> <%= @order.event.name %></li>
        <li><strong>NO. TICKETS</strong> <%= (@order.amount / @order.event.price).to_i  %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
      </ul>
      <%= image_tag(@order.event.photos.first) %>
</div>
      <div class="directions-btn"><a href="#">Get Directions</a></div>
      <div class="directions-btn"><a href="/events">See More Events</a></div>
