<div class = "container">
  <h1> <%= "Hello #{current_user.first_name} - this is the new venue page" %> </h1>
  <%= simple_form_for(@venue) do |f| %>
    <%= f.input :name %>
    <%= f.input :address, label: "Enter Your Postcode" %>
    <%= f.input :description %>
    <%= f.input_field :photo, as: :file, class: "mt-3"%>
    <%= f.button :submit, "Add Venue" %>
  <% end %>
</div>
