<div class="sign-in-container flex-col">
  <div class="sign-in-window flex-col-center">
    <h1>RIGHTTIME</h1>
    <%= simple_form_for resource, url: session_path(resource_name) do |f| %>
      <div class="sign-in-form">
        <%= f.input :email,
                    label: false, 
                    placeholder: 'Email',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: false,
                    placeholder: 'Password',
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
      </div>
      <div id="remember-me">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="flex-col-center">
        <%= f.button :submit, "Log in", class: "neon-button pulse" %>
      </div>
    <% end %>
    <div id="sign-up">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign Up", new_registration_path(resource_name), :class => "neon-button" %>
      <% end %>
    </div>
    <div id="forgot-password">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>