<!DOCTYPE html>
<html>
  <head>
    <title>Righttime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag 'dice.png' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <div class="min-height"><%= yield %></div>
      <div class="footer">
          <div><a href="/" class="fas fa-search"></a></div>
          <div><a href="#" class="far fa-heart"></a></div>
          <div><a href="/users/sign_in" class="far fa-user"></a></div>
      </div>
  </body>
</html>
